<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>{{msg}}</h2>
        <a href="/">Search Page</a>
        <span> || </span>
        <a href="/list">Show results as a list</a>
        <span> || </span>
        <a href="/map">Show results on a map</a>
        <span> || </span>
        <a href="/combo">show results on both map and list</a>


        <form class="clearfix mb-4" action="">

          <div class="form-group">
            <label for="example-description">Enter search</label>
            <input class="form-control" id="userInput" aria-describedby="example-description" placeholder="Enter business name"></input>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

      </div>
    </div>


  </div>
</div>
<script type="text/javascript" src="js/index.js"></script>
